<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SCAM PACA</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script type="text/javascript" src="/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/datatables/datatables.min.js"></script>
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">SCAM PACA</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about">A propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/data">Données</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/adherents">Adherents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/produits">Catalogue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sorties">Sorties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/transactions">Transactions</a>
      </li>
  </ul>
  </nav>

  <div class="container">