<%- include("_header") -%>

<h1>SCAM PACA</h1>
<h2>"Super Copains Amis Magiques Presque Actif Chaque Année"</h2>

<ul>
    <li>Vincent Gary : Président</li>
    <li>Schalckens Valentine : Vice Présidente</li>
    <li>Jérémie Vincent--Renard : Trésorier</li>
    <li>Quentin Arzalier : Secrétaire</li>
    <li>Antoine Dausque : Négociateur</li>
    <li>Alexandre Grall : Grand Manitou</li>
</ul>

<%- include("_footer") -%>